{
    "extends": [
        "@tada5hi/eslint-config-vue-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json",
        "extraFileExtensions": [".vue"]
    },
    "rules": {
        "class-methods-use-this": "off",

        "no-continue": "off",
        "no-underscore-dangle": "off",
        "no-shadow": "off",

        "import/no-cycle": [2, {
            "maxDepth": 2
        }],
        "import/no-relative-packages": "off",
        "import/extensions": "off",
        "import/no-extraneous-dependencies": [
            "error", {
                "devDependencies": [
                    "**/test/*.ts",
                    "**/test/**/*.js",
                    "**/test/**/*.ts",
                    "**/test/**/*.spec.js",
                    "**/test/**/*.spec.ts",
                    "**/rollup.config.mjs",
                    "packages/client-ui/**/*.vue",
                    "packages/client-ui/**/*.ts"
                ]
            }
        ],

        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/no-throw-literal": "off",
        "vue/no-v-for-template-key": "off",
        "vue/no-multiple-template-root": "off"
    },
    "ignorePatterns": [
        "**/dist/*",
        "**/*.d.ts",
        "**/node_modules/**",
        "**/.nuxt",
        "**/writable/**",
        "**/packages/frontend/ui/components/svg/**"
    ],
    "globals": {
        "NodeJS": true
    }
}
