# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
    push:
        branches: [develop, master, next, beta, alpha]
    pull_request:
        types: [ opened, synchronize ]

env:
    NODE_VERSION: 22
    NODE_REGISTRY: 'https://registry.npmjs.org'

jobs:
    main:
        services:
            authup:
                image: authup/authup
                ports:
                    - 3000:3000
                options: >-
                    --health-cmd "echo 0"
                    --health-interval 30s
                    --health-timeout 10s
                    --health-retries 5
                    --health-start-period 30s
                env:
                    DB_TYPE: "better-sqlite3"
                    DB_DATABASE: ":memory:"
                    NODE_ENV: "development"
#            loki:
#                image: grafana/loki
#                ports:
#                    - 3100:3100
#                options: >-
#                    --health-cmd "wget --quiet --tries=1 --output-document=- http://localhost:3100/ready | grep -q -w ready || exit 1"
#                    --health-interval 30s
#                    --health-timeout 10s
#                    --health-retries 5
#                    --health-start-period 30s

        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v6

            -   name: Install
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.NODE_VERSION }}

            -   name: Build
                uses: ./.github/actions/build

            -   name: Test
                env:
                    PORT: 4000
                    SKIP_PROJECT_APPROVAL: true
                    SKIP_ANALYSIS_APPROVAL: true
                    AUTHUP_URL: http://localhost:3000/
                    # LOKI_URL: http://localhost:3100/
                run: |
                    npm run test
    lint:
        runs-on: ubuntu-latest
        steps:
             -   uses: actions/checkout@v6

             -   name: Install
                 uses: ./.github/actions/install
                 with:
                     node-version: ${{ env.NODE_VERSION }}

             -   name: Build
                 uses: ./.github/actions/build

             -   name: Lint
                 run: npm run lint
